@font-face {
	font-family: 'Exo2Bold';
	src: url('../fonts/Exo2Bold/Exo2Bold.eot');
	src: url('../fonts/Exo2Bold/Exo2Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Exo2Bold/Exo2Bold.woff') format('woff'),
		 url('../fonts/Exo2Bold/Exo2Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RobotoLight';
	src: url('../fonts/RobotoLight/RobotoLight.eot');
	src: url('../fonts/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RobotoLight/RobotoLight.woff') format('woff'),
		 url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}