
body {
	font-size: 18px;
	font-family: 'RobotoLight';
	line-height: 1.3;
}
input,
button {
	outline: none;
}
button {
	padding: 0;
	border: none;
	background-color: transparent;
}
::-webkit-input-placeholder {color:#c0392b;}
::-moz-placeholder          {color:#c0392b;}
:-moz-placeholder           {color:#c0392b;}
:-ms-input-placeholder      {color:#c0392b;}
.main_wrapper {
	overflow: hidden;
}
.header_top {
	padding: 12px 0;
	margin-bottom: 67px;
	background-color: #282828;
}
.logo {
	display: inline-block;
	vertical-align: middle;
	width: 178px;
	height: 96px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.logo:hover {
	transform: scale(1.2);
}
.header_content {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 266px);
	margin-left: 82px;
}
.header_content_top {
	display: table;
	width: 100%;
}
.header_title,
.header_callback {
	display: table-cell;
	vertical-align: middle;
}
.header_title {
	color: #e9eaeb;
	font-size: 20px;
	font-family: 'Exo2Bold';
}
.header_callback {
	text-align: right;
}
.header_callback_left,
.header_callback_button {
	display: inline-block;
	vertical-align: middle;
}
.header_callback_number {
	color: #fff;
	font-size: 28px;
	font-family: 'Exo2Bold';
}
.header_callback_text {
	font-size: 12px;
	color: #999;
}
.header_callback_button {
	padding: 8px 19px;
	margin-left: 20px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.header_callback_button:hover,
.header_callback_button:focus {
	background-color: #fff;
	color: #282822;
	text-decoration: none;
}
.header_link {
	margin-top: 12px;
}
.header_link_unit {
	position: relative;
	display: inline-block;
	margin-right: 35px;
	color: #e9eaeb;
	font-size: 16px;
}
.header_link_unit:hover,
.header_link_unit:focus {
	color: #e9eaeb;
}
.header_link_unit:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 1px;
	height: 24px;
	background-color: #3b3b3b;
}
.header_link_unit:last-child:after {
	display: none;
}
.header_menu {
    position: relative;
    margin-top: -67px;
    background-color: #e31e25;
}
.header_menu.fixed {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
}
.header_menu_list,
.header_search {
	display: inline-block;
	vertical-align: middle;
}
.header_menu_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.header_menu_item {
        position: relative;
	display: inline-block;
}
.header_menu_link {
	color: #fff;
}
.header_menu_link,
.header_drop_link {
	display: block;
	padding: 19px 30px 22px;
	font-size: 20px;
	font-family: 'Exo2Bold';
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.header_drop_link {
	width: 100%;
	background-color: #fff;
        color: #e31e25;
}
.header_drop_link:hover,
.header_drop_link:focus {
	background-color: #e31e25;
        color: #fff;
        text-decoration: none;
}
.header_menu_link:hover,
.header_menu_link:focus,
.header_menu_link.active {
	background-color: #fff;
	color: #e31e25;
	text-decoration: none;
}
.header_menu_drop_list {
	display: none;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	width: 200px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	border-bottom: 4px solid transparent;
	-webkit-box-shadow: 0 10px 24px -5px rgba(0,0,0, .5);
	box-shadow: 0 10px 24px -5px rgba(0,0,0, .5);
	background-color: #fff;
	cursor: pointer;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.header_menu_item:hover .header_menu_drop_list {display: block;}
.header_search {
	position: relative;
	width: 240px;
	margin-left: 48px;
}
.header_search_input {
	display: block;
	width: 100%;
	border: 2px solid transparent;
	padding: 5px 40px 5px 20px;
	border-radius: 30px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.header_search_input:focus {
	border-color: #c5c5c5;
}
.header_search_button {
	position: absolute;
	top: calc((100% - 17px) / 2);
	right: 15px;
	display: block;
	width: 17px;
	height: 17px;
}
.icon_search {
	fill: #c5c5c5;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.header_search_button:hover .icon_search {
	fill: #000;
}
.header_button_mobile {
	display: none;
	float: right;
	margin: 4px 0;
}
.icon_bars {
	display: inline-block;
	vertical-align: middle;
	width: 46px;
}
.header_button_mobile.active .icon_bars .icon_bars_line2 {
	background-color: transparent;
}
.icon_bars_line {
	position: relative;
	display: block;
	width: 100%;
	height: 5px;
	transition: .3s all;
	background-color: #fff;
}
.icon_bars_line2 {
	margin: 7px 0;
}
.header_button_mobile.active .icon_bars .icon_bars_line1 {
	-ms-transform: translate(-3px, 11.5px) rotate(45deg);
	transform: translate(-3px, 11.5px) rotate(45deg);
}
.header_button_mobile.active .icon_bars .icon_bars_line3 {
	-ms-transform: translate(-3px, -11.5px) rotate(-45deg);
	transform: translate(-3px, -11.5px) rotate(-45deg);
}
.main_slider_box {
	position: relative;
}
.main_slider_unit {
	padding: 70px 0 160px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
.main_slider_unit_bg1 {
	background-image: url(../img/bg_main_slider1.png);
}
.main_slider.owl-carousel .owl-item img {
	width: auto;
}
.main_slider.owl-theme .owl-nav [class*=owl-] {
	position: absolute;
	top: calc((100% - 84px) / 2);
	width: 34px;
	height: 84px;
	margin: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(../img/icon_main_slider_arrow.png);
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.main_slider.owl-theme .owl-nav [class*=owl-]:hover {
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url(../img/icon_main_slider_arrow.png);
	opacity: .5;
}
.main_slider.owl-carousel .owl-nav .owl-prev {
	left: calc((100% - 1300px) / 4);
}
.main_slider.owl-carousel .owl-nav .owl-next {
	transform: rotate(180deg);
	right: calc((100% - 1250px) / 4);
}
.main_slider.owl-theme .owl-nav {
	margin: 0;
}
.main_slider.owl-theme .owl-dots {
	position: absolute;
	left: 0;
	bottom: 66px;
	width: 100%;
	margin: 0;
}
.main_slider.owl-theme .owl-dots .owl-dot span {
	display: block;
	position: relative;
	width: 30px;
	height: 30px;
	margin: 5px 4px;
	background-color: transparent;
	opacity: 1;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.main_slider.owl-theme .owl-dots .owl-dot.active span,
.main_slider.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #fff;
}
.main_slider.owl-theme .owl-dots .owl-dot span:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.main_slider.owl-theme .owl-dots .owl-dot.active span:after,
.main_slider.owl-theme .owl-dots .owl-dot:hover span:after {
	background-color: #e31e25;
}
section {
	padding: 34px 0;
}
.bg_gray {
	background-color: #eee;
}
h2 {
	position: relative;
	margin: 0 0 50px;
	font-size: 32px;
	font-weight: normal;
	font-family: 'Exo2Bold';
	line-height: 1;
}
h2:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 140px;
	height: 4px;
	background-color: #e31e25;
}
.h2_center {
	text-align: center;
}
.h2_center:after {
	left: calc((100% - 140px) / 2);
}
.catalog_unit_box {
	margin: -15px 0;
}
.catalog_unit {
	display: block;
	min-height: 375px;
	padding: 28px 15px;
	margin: 15px 0;
	border-bottom: 4px solid transparent;
	-webkit-box-shadow: 0 10px 24px -5px rgba(0,0,0, .5);
	box-shadow: 0 10px 24px -5px rgba(0,0,0, .5);
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.catalog_unit:hover {
	text-decoration: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #e31e25;
}
.catalog_unit_type {
	font-size: 11px;
	text-transform: uppercase;
	color: #666;
}
.catalog_unit_img_box {
	position: relative;
	min-height: 250px;
}
.catalog_unit_img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.catalog_unit_name {
	font-size: 18px;
	color: #000;
}
.category {
	padding-bottom: 0;
}
.category_unit {
	display: block;
	position: relative;
	float: left;
}
.category_unit_half {
	width: 50%;
}
.category_unit_fourth {
	width: 25%;
}
.category_unit_third {
	width: 33.3%;
}
.category_unit_name {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, .7);
	-webkit-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
}
.category_unit_text_box {
	position: absolute;
	top: 30px;
	left: 30px;
	display: table;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	border: 1px solid #e31e25;
	-webkit-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
}
.category_unit_text {
	display: table-cell;
	vertical-align: middle;
	font-size: 32px;
	text-align: center;
	font-family: 'Exo2Bold';
	color: #fff;
}
.category_unit:hover .category_unit_name {
	background-color: transparent;
}
.category_unit:hover .category_unit_text_box {
	border-color: transparent;
}
.about {
	padding: 76px 0 46px;
}
.about_video {
	position: relative;
	max-width: 490px;
	margin: 0 auto;
}
.about_video_play {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 87px;
	height: 77px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.about_video_play:hover {
	transform: scale(1.2);
}
.about_video_title {
	margin-top: 15px;
	color: #999;
	text-align: center;
}
footer {
	padding: 54px 0;
	background-color: #282828;
}
.footer_content {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 256px);
	margin-left: 72px;
}
h4 {
	margin: 0 0 18px;
	font-size: 14px;
	text-transform: uppercase;
	white-space: normal;
	font-family: 'Exo2Bold';
	color: #fff;
}
.footer_link,
.footer_link_box,
.footer_callback_social {
	display: inline-block;
	vertical-align: top;
}
.footer_link_box {
	margin-right: 120px;
}
.footer_link_unit {
	display: block;
	margin-top: 8px;
	color: #999;
	font-size: 16px;
}
.footer_link_unit:hover,
.footer_link_unit:focus {
	color: #999;
}
.footer_callback_social {

}
.footer_callback_text {
	font-size: 16px;
	color: #999;
}
.footer_callback_number {
	font-size: 34px;
	font-family: 'Exo2Bold';
	color: #fff;
}
.footer_social {
	margin-top: 27px;
}
.footer_social_unit {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	border-radius: 100%;
	border: 1px solid #999;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.footer_social_unit:hover {
	border-color: #fff;
	background-color: #fff;
}
.icon_footer_social {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	fill: #e31e25;
}
.icon_twitter {
	width: 20px;
	height: 16px;
}
.icon_facebook {
	width: 12px;
	height: 26px;
}
.icon_vk {
	width: 24px;
	height: 12px;
}
.icon_google {
	width: 19px;
	height: 19px;
}
.icon_instagram {
	width: 17px;
	height: 17px;
}
.icon_yootube {
	width: 19px;
	height: 14px;
}
.footer_content_bottom {
	margin-top: 34px;
}
.footer_link_bottom {
	display: inline-block;
	color: #fff;
	margin-right: 15px;
	font-size: 14px;
}
.footer_link_bottom:hover,
.footer_link_bottom:focus {
	color: #fff;
}


.main_top {
	padding: 20px 0;
}
.breadcrumb_unit {
	display: inline-block;
	position: relative;
	margin-right: 30px;
	font-size: 16px;
	color: #e31e25;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.breadcrumb_unit:after {
	content: "";
	position: absolute;
	top: 6px;
	right: -23px;
	width: 9px;
	height: 9px;
	background-image: url(../img/icon_catalog_link.svg);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
}
.breadcrumb_unit:hover,
.breadcrumb_unit.active {
	color: #999;
	text-decoration: none;
}
.breadcrumb_unit:last-child {
	margin-right: 0;
}
.breadcrumb_unit:last-child:after {
	display: none;
}
h1 {
	margin: 0;
	line-height: 1;
	font-family: 'Exo2Bold';
	font-weight: bold;
	font-size: 42px;
}
.catalog {
	position: relative;
	padding: 30px 0 0;
	background-color: #eee;
}
.sidebar_link {
	padding: 27px 22px;
	-webkit-box-shadow: 0 10px 24px -5px rgba(0,0,0, .5);
	box-shadow: 0 10px 24px -5px rgba(0,0,0, .5);
	background-color: #fff;
}
h3 {
	margin: 0 0 14px;
	font-size: 24px;
	font-family: 'Exo2Bold';
	font-weight: normal;
	line-height: 1;
}
.sidebar_link_unit,
.sidebar_link_item {
	position: relative;
	display: block;
	margin-top: 14px;
	color: #0b0c04;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.sidebar_link_unit {
	padding-left: 20px;
}
.sidebar_link_unit:hover,
.sidebar_link_unit:focus,
.sidebar_link_item:hover,
.sidebar_link_item:focus {
	color: #e31e25;
	text-decoration: none;
}
.sidebar_link_unit:before {
	content:"";
	position: absolute;
	top: 8px;
	left: 0;
	width: 9px;
	height: 9px;
	background-image: url(../img/icon_catalog_link.svg);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center center;
}
.sidebar_link_list {
	padding-left: 20px;
}
.sidebar_link_item {
	font-size: 16px;
}
.sidebar_link_item:before {
	content: "— ";
}
.banner {
	display: block;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.banner:hover {
	transform: scale(1.025);
}
.sidebar_banner {
	margin-top: 30px;
} 
.product_banner {
	margin-bottom: 15px;
}
.pagination {
	padding: 19px 0;
	margin-top: 40px;
	text-align: center;
}
.pagination_unit {
	display: inline-block;
	padding: 4px 20px;
	margin: 0 4px;
	border: 1px solid #999999;
	border-radius: 4px;
	color: #000;
	font-size: 16px;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}
.pagination_unit:hover,
.pagination_unit:focus,
.pagination_unit.active {
	border-color: #e31e25;
	color: #e31e25;
	text-decoration: none;
}
.pagination_border {
	position: absolute;
	bottom: 70px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: #fff;
}
.h2_catalog {
	margin-bottom: 22px;
}
.h2_catalog:after {
	display: none;
}