/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1249px) {
	.header_link_unit {
		margin-right: 30px;
	}
	.header_link_unit:after {
		display: none;
	}
	.header_menu_link {
		margin-right: 30px;
	}
	.header_search {
		margin-left: 15px;
	}
	.main_slider.owl-carousel .owl-nav .owl-prev {
		left: 15px;
	}
	.main_slider.owl-carousel .owl-nav .owl-next {
		right: 15px;
	}
	.news_product {
		padding-bottom: 4px;
	}
	.category_unit_text_box {
		top: 15px;
		left: 15px;
		width: calc(100% - 30px);
		height: calc(100% - 30px);
	}
	.category_unit_text {
		font-size: 24px;
	}
	.footer_link_box {
		margin-right: 62px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 999px) {
	.header_content {
		margin-left: 40px;
		width: calc(100% - 224px);
	}
	.header_callback_button {
		margin-top: 7px;
	}
	.header_menu_list {
		position: absolute;
		z-index: 2;
		top: 100%;
		right: -300px;
		min-width: 240px;
		height: 100vh;
		padding-bottom: 15px;
		background-color: #e31e25;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}
	.header_menu_list.active {
		right: 0;
	}
	.header_menu_item {
		display: block;
	}
	.header_menu_link {
		display: block;
		padding: 5px 15px;
	}
	.header_search {
		margin-left: 0;
	}
	.header_button_mobile {
		display: block;
	}
	.main_slider_unit {
		padding: 44px 0 64px;
	}
	.about,
	footer {
		padding: 34px 0;
	}
	.footer_callback_social,
	.footer_content_bottom {
		margin-top: 27px;
	}
	.main_slider.owl-theme .owl-dots {
		bottom: 10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.logo {
		display: block;
		max-width: 178px;
		margin: 0 auto;
	}
	.header_content {
		display: block;
		width: 100%;
		margin: 15px 0 0;
	}
	.header_top {
		margin-bottom: 57px;
	}
	.header_menu {
		padding: 10px 0;
		margin-top: -57px;
	}
	.category_unit_half,
	.category_unit_fourth,
	.category_unit_third {
		width: 100%;
	}
	.category_unit .img-responsive {
		width: 100%;
	}
	.footer_content {
		display: block;
		width: 100%;
		margin: 20px 0 0;
		text-align: center;
	}
	.footer_link_box {
		margin: 0 30px;
	}
	h2 {
		font-size: 28px;
	}
	.sidebar_banner {
		display: none;
	}
}

@media only screen and (max-width : 599px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.header_content_top {
		display: block;
	}
	.header_title, 
	.header_callback {
		display: block;
		text-align: center;
	}
	.header_callback {
		margin-top: 12px;
	}
	.header_callback_text {
		margin: 5px 0 10px;
	}
	.header_link {
		margin-top: 15px;
		text-align: center;
	}
	.header_link_unit {
		margin: 0 15px;
	}
	.header_search {
		width: 220px;
	}
	.main_slider.owl-theme .owl-nav [class*=owl-] {
		display: none;
	}
	.footer_link_box {
		display: block;
		margin: 0 0 20px;
	}
	.footer_link_box:last-child {
		margin-bottom: 0;
	}
	.footer_link_bottom {
		display: block;
		margin: 5px 0 0;
	}
	.footer_social_unit {
		margin: 4px;
	}
	.pagination_unit {
		padding: 4px 10px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1000px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1250px) {

}
@media (min-height: 780px) and (min-width : 1400px) {

}
