<?php
/**
 * Категория каталога товаров:
 *   - Шапка
 *   - Форма умных фильтров
 *   - Блок сортировки и выбора вида превью товаров
 *   - Блок превью товаров + пагинация
 *
 * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
 * @var array $variables
 */

$catalog = $this->getCatalog($variables);
$productList = $this->getProducts($catalog);
$pagination = $this->getPagination($catalog);
$this->setCommonVar('smart_filters', $this->getSmartFilters($variables));
?>

<div class="catalog">
	<?= $this->render($variables, 'catalog/category/caption') ?>

	<div class="container mobile_all_width d_flex">
		<?= $this->render($variables, 'catalog/category/filters/index') ?>

		<div id="catalog_category" class="col-md-10 <?= $this->getCatalogClass() ?>">
			<?= $this->render($variables, 'catalog/category/sort/index') ?>

			<div class="row"
			     umi:element-id="<?= $variables['pageId'] ?>"
			     umi:module="catalog"
			     umi:method="getObjectsList"
			     umi:sortable="sortable"
			     umi:add-method="popup"
			>
				<?php foreach ($productList as $product): ?>
					<?= $this->render($product, 'catalog/product/preview/index') ?>
				<?php endforeach; ?>
			</div>

			<div class="catalog_more top_bottom_platform">
				<?= $this->render($pagination, 'library/pagination') ?>
			</div>
		</div>
	</div>
</div>
