<?php
/**
 * Форма всплывающего окна "Заказать звонок".
 * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
 * @var array $variables
 */
?>

<?php $preLang = cmsController::getInstance()->getPreLang() ?>

<form method="post" action="<?= $preLang ?>/webforms/send/" enctype="multipart/form-data">
	<?php if (count($variables['items'])): ?>
		<?php
		$selectedEmail = null;

		foreach ($variables['items'] as $item) {
			$selectedEmail = $item;
			break;
		}
		?>

		<input type="hidden" name="system_email_to" value="<?= $selectedEmail['id'] ?>" />
	<?php endif; ?>

	<?php foreach ($variables['groups']['group'] as $group): ?>
		<?php foreach ($group['fields'] as $field): ?>
			<div class="<?= $this->getFormFieldClass($field) ?>">
				<?= $this->render($field, "data/form_field/{$field['type']}") ?>
			</div>
		<?php endforeach; ?>
	<?php endforeach; ?>

	<input type="hidden" name="system_form_id" value="<?= $variables['form_id'] ?>" />
	<input type="hidden" name="ref_onsuccess" value="<?= $preLang ?>/webforms/posted/<?= $variables['form_id'] ?>/" />

	<?= $this->renderCaptcha() ?>

	<input type="submit" value="<?= $this->translate('send_form') ?>" />

	<?= $this->render('common-152-federal-law', 'library/personalDataNotice') ?>
</form>
