<?php
/**
 * Вспомогательный шаблон для построения динамических форм.
 * Отрисовывает каждую группу формы и каждое поле группы, в зависимости от типа данных поля.
 *
 * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
 * @var array $variables
 */
?>

<?php foreach ($variables['form']['groups'] as $group): ?>
		<?php if (!isset($variables['displayHeader']) || ($variables['displayHeader'])): ?>
			<h3>
				<?= $group['title'] ?>
			</h3>
		<?php endif; ?>

		<?php foreach ($group['fields'] as $field): ?>
			<div class="<?= $this->getFormFieldClass($field) ?>">
				<?= $this->render($field, "data/form_field/{$field['type']}") ?>
			</div>
		<?php endforeach; ?>
<?php endforeach; ?>
