<!DOCTYPE html>
<html lang="ru">
<head>
    <?= $this->render($variables, 'layout/head') ?>
</head>
<body>
    <div class="main_wrapper">
        
        <?= $this->render($variables, 'layout/modal/index') ?>
        
        <header class="hidden-sm hidden-xs">
            <div class="header_top">
                <div class="container">
                    <a href="<?= $this->getHomePageUrl() ?>" class="logo">
                        <?php 
                        /**
                         * Логотип сайта.
                         *
                         * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
                         * @var array $variables
                         */
                        $settingsContainer = $this->getSettingsContainer();
                       
                        if ( empty ( $settingsContainer->getValue('logo') ) ) { 
                            echo '<svg umi:object-id="'.$settingsContainer->getId().'" umi:field-name="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 841.9 447.9" enable-background="new 0 0 841.9 447.9" xml:space="preserve">
                            <path fill="#E3000F" d="M444.9,3.1c-150.2,107.2-149.9,335,0.8,441.7c5.3,3.8,12.4,4.1,18,0.9l368.8-212.9c6.6-3.8,6.6-13.4,0-17.2
                            L463,2.2C457.3-1,450.3-0.7,444.9,3.1"/>
                            <path fill="#FFFFFF" d="M427,170.7c-32.7,0-53.4,23.6-53.4,57.8c0,34,20.7,57.7,53.4,57.7c32.7,0,53.4-23.8,53.4-57.7
                            C480.5,194.3,459.7,170.7,427,170.7 M427,258.2c-12.7,0-19.5-12.6-19.5-29.8c0-17.4,6.9-29.8,19.5-29.8c12.7,0,19.7,12.4,19.7,29.8
                            C446.7,245.7,439.7,258.2,427,258.2z"/>
                            <polygon fill="#FFFFFF" points="554.6,220.7 525.8,172.5 492.1,172.5 492.1,284.2 525.3,284.2 525.3,232.6 556.4,284.2 587.9,284.2 
                            587.9,172.5 554.6,172.5 "/>
                            <path fill="#FFFFFF" d="M678.7,200.2v-27.6h-74v85.6c0,14.4,12.2,26,27.3,26h46.7v-27.6H638v-15.1h39.5v-27.6H638v-13.7H678.7z"/>
                            <path fill="#FFFFFF" d="M49.9,192L4.4,284.2h35.5l11.4-22.2h27.1v22.2h29.5V172.5H82.7C68.8,172.5,56.1,180.1,49.9,192 M65.8,233.5
                            l12.6-24.6v24.6H65.8z"/>
                            <rect x="122.3" y="172.5" fill="#FFFFFF" width="33.2" height="111.6"/>
                            <path fill="#FFFFFF" d="M263.5,173.6h-19.4l-16.6,48.7l-16.3-48.7h-41.9v110.5h31.8v-59.8l20.3,59.8h12.1l20.5-59.8v59.8h31.6v-88.7
                            C285.7,183.4,275.8,173.6,263.5,173.6"/>
                            <path fill="#FFFFFF" d="M336.9,211.8c-15.6-3-29,10.5-26,26c1.6,8.7,8.7,15.7,17.4,17.4c15.6,3,29-10.5,26-26
                            C352.6,220.5,345.6,213.5,336.9,211.8"/></svg>';
                        } else {
                            echo '<img
					umi:object-id="'.$settingsContainer->getId().'" umi:field-name="logo"
					src="'.$settingsContainer->getValue('logo').'"
					alt="'.$settingsContainer->getValue('site_name').'"
				>';
                        } 
                        ?>
                    </a>
                    <div class="header_content">
                        <div class="header_content_top">
                                <div class="header_title" umi:object-id="<?= $settingsContainer->getId() ?>"
				      umi:field-name="header_under_name">
                                    <?= $settingsContainer->getValue('header_under_name') ?>
                                </div>
                                <div class="header_callback">
                                        <div class="header_callback_left">
                                                <div class="header_callback_number" umi:object-id="<?= $settingsContainer->getId() ?>" umi:field-name="phone">
                                                    <?= $settingsContainer->getValue('phone') ?>
                                                </div>
                                                <div class="header_callback_text" umi:object-id="<?= $settingsContainer->getId() ?>" umi:field-name="call_order_text">
                                                    <?= $settingsContainer->getValue('call_order_text') ?>
                                                </div>
                                        </div>
                                        <a href="#callbackModal" data-toggle="modal" class="header_callback_button">Перезвоните мне</a>
                                </div>
                        </div>
                        
                        
                        
                        <div class="header_link">
                            <?= $this->render('top_menu', 'layout/header/top/menu') ?>
                            <!--<a href="#" class="header_link_unit">Партнерам</a>
                            <a href="#" class="header_link_unit">Доставка и оплата </a>
                            <a href="#" class="header_link_unit">Реклама и поддержка </a>
                            <a href="#" class="header_link_unit">Условия сотрудничества</a>-->
                        </div>
                    </div>
                    <?php
                        /**
                         * Первый уровень меню каталога товаров.
                         *
                         * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
                         * @var array $variables
                         * @var array $categoryList
                         */

                        $data = $this->getMainCategories();
                        $categoryList = $data['items']; 
                    ?>
                </div>
            </div>
            <nav class="header_menu">
                <div class="container">
                    <button class="header_button_mobile">
                            <span class="icon_bars">
                                    <span class="icon_bars_line icon_bars_line1"></span>
                                    <span class="icon_bars_line icon_bars_line2"></span>
                                    <span class="icon_bars_line icon_bars_line3"></span>
                            </span>
                    </button>
                    
                    
                    
                    <ul class="header_menu_list" umi:add-method="none"
                        umi:element-id="<?= $data['category_id'] ?>"
                        umi:region="list"
                        umi:module="catalog"
                        umi:sortable="sortable">
                        <?php foreach ($categoryList as $category): ?>
                            <li class="li header_menu_item"
                                umi:element-id="<?= $category['id'] ?>"
                                umi:region="row">
                                <a class="header_menu_link" href="<?= $category['link'] ?>"
                                   umi:field-name="name"
                                   umi:delete="delete"
                                   umi:empty="<?= $this->translate('empty_section_name') ?>"
                                >
                                        <?= $category['text'] ?>
                                </a>
                                
                                <?php
                                    /**
                                     * Второй уровень меню каталога товаров.
                                     *
                                     * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
                                     * @var array $variables
                                     * @var array $subCategoryList
                                     */
                                    
                                    $parentCategory = $variables;
                                    $data = $this->getChildCategories($parentCategory);
                                    $subCategoryList = $data['items']; 
                                    
                                    if ( !empty( $subCategoryList ) ){
                                ?>
                                    <!--<ul class="header_menu_drop_list">
                                        <li><a href="/catalog/ochistiteli/" class="header_drop_link">Очистители</a></li>
                                        <li><a href="/catalog/poliroli/" class="header_drop_link">Полироли</a></li>
                                        <li><a href="/catalog/prisadki/" class="header_drop_link">Присадки</a></li>
                                        <li><a href="/catalog/aromatizatory/" class="header_drop_link">Ароматизаторы</a></li>
                                        <li><a href="/catalog/smazki/" class="header_drop_link">Смазки</a></li>
                                        <li><a href="/catalog/germetiki/" class="header_drop_link">Герметики</a></li>
                                    </ul>-->
                                    <ul class="header_menu_drop_list"
                                        umi:element-id="<?= $data['category_id'] ?>"
                                        umi:region="list"
                                        umi:module="catalog"
                                        umi:sortable="sortable"
                                        umi:add-method="none"
                                    >
                                        <?php foreach ($subCategoryList as $child): ?>
                                            <li umi:element-id="<?= $child['id'] ?>" umi:region="row">
                                                <a class="header_drop_link" href="<?= $child['link'] ?>"
                                                   umi:field-name="name"
                                                   umi:delete="delete"
                                                   umi:empty="<?= $this->translate('empty_section_name') ?>"
                                                >
                                                    <?= $child['text'] ?>
                                                </a>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                <?php } ?>
                            </li>    
                        <?php endforeach; ?>
                    </ul>
                    <form class="header_search">
                            <input type="text" class="header_search_input" required>
                            <button class="header_search_button">
                                    <svg class="icon_search" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 27.6 28.6" style="enable-background:new 0 0 27.6 28.6;" xml:space="preserve">
                                    <style type="text/css">
                                            .st0{fill:#E3000F;}
                                            .st1{fill:#FFFFFF;}
                                            .st2{clip-path:url(#SVGID_2_);}
                                            .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                            .st4{clip-path:url(#SVGID_4_);}
                                    </style>
                                    <g>
                                            <path d="M0.4,26c-0.6,0.6-0.6,1.6,0,2.1c0.3,0.3,0.7,0.4,1,0.4c0.4,0,0.8-0.2,1.1-0.5L9.4,21c1.9,1.4,4.2,2.1,6.6,2.1
                                            c6.4,0,11.5-5.2,11.5-11.5C27.6,5.2,22.4,0,16.1,0C9.7,0,4.5,5.2,4.5,11.5c0,2.7,1,5.3,2.7,7.4L0.4,26L0.4,26z M16.1,3
                                            c4.7,0,8.5,3.8,8.5,8.5c0,4.7-3.8,8.5-8.5,8.5c-4.7,0-8.5-3.8-8.5-8.5C7.5,6.8,11.4,3,16.1,3L16.1,3z M16.1,3"/>
                                    </g></svg>
                            </button>
                    </form>
                </div>
            </nav>
        </header>
        <main>
            <?= $this->render($this->macros('system', 'listErrorMessages'), 'library/errors') ?>
            
            <?php
                /**
                 * Слайдер.
                 *
                 * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
                 * @var array $variables
                 * @var array $slideList
                 */

                $data = $this->getSlides();
                $slideList = $data['slides'];
            ?>
            
            <div class="main_slider owl-carousel owl-theme">
                <?php foreach ($slideList as $index => $slide): ?>
                    <div class="main_slider_unit main_slider_unit_bg1">
                        <div class="container">
                            <div class="main_slider_content">
                                <?= $this->render([$data, $slide], 'content/home/slider/slide') ?>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
                   <div class="main_slider_unit main_slider_unit_bg1">
                            <div class="container">
                                    <div class="main_slider_content"><img src="img/img_main_slider1.png" alt="alt" class="img-responsive"></div>
                            </div>
                    </div>
                    <!-- <div class="main_slider_unit main_slider_unit_bg1">
                            <div class="container">
                                    <div class="main_slider_content"><img src="img/img_main_slider1.png" alt="alt" class="img-responsive"></div>
                            </div>
                    </div>
                    <div class="main_slider_unit main_slider_unit_bg1">
                            <div class="container">
                                    <div class="main_slider_content"><img src="img/img_main_slider1.png" alt="alt" class="img-responsive"></div>
                            </div>
                    </div>
                    <div class="main_slider_unit main_slider_unit_bg1">
                            <div class="container">
                                    <div class="main_slider_content"><img src="img/img_main_slider1.png" alt="alt" class="img-responsive"></div>
                            </div>
                    </div>-->
            </div>
            
            <?php
            /**
             * Каталог товаров на главной странице. Включает в себя:
             *   - Новинки
             *
             * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
             * @var array $variables
             */
            ?>
            
            <section class="news_product bg_gray">
                <div class="container">
                    <h2 class="h2_center">Новинки Aim-One</h2>
                    <div class="catalog_unit_box">
                        <div class="row">
                            <?php 
                                $i = 0;
                                foreach ($this->getNewProducts() as $product): 
                                $i++; 
                                
                                // выводим 4 новинки
                                if ( $i > 4 ) { break; }
                          
                                /**
                                * Превью товара:
                                *   - Изображение
                                *   - Название
                                *   - Блок цены
                                *   - Дополнительные действия
                                *   - Скрытый блок с формой выбора опционных свойств, если они есть у товара.
                                *
                                * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
                                * @var iUmiHierarchyElement $variables
                                */
                            ?>
                                <div class="col-xs-12 col-sm-6 col-lg-3" data-element_id="<?= $product->getId() ?>" umi:region="row" umi:element-id="<?= $product->getId() ?>">
                                    <a class="catalog_unit">
                                        <div class="catalog_unit_type">
                                            <?php                                                
                                               /* foreach ($subCategoryList as $child){ 
                                                    echo $child['text'];
                                                } var_dump($product); echo $this->getObjectById( $product->getObjectId() )->getName();*/
                                            ?>
                                            
                                            Ароматизаторы
                                        </div>
                                        
                                        <div class="catalog_unit_img_box">
                                            <?= $this->render(
                                                [
                                                        'id' => $product->getId(),
                                                        'field_name' => 'photo',
                                                        'src' => $this->getPhotoPath($product),
                                                        'alt' => $product->getValue('title'),
                                                        'width' => 200,
                                                        'height' => 200,
                                                ],
                                                'library/thumbnail'
                                            ) ?>
                                            <!--<img src="img/img_catalog1.png" alt="alt" class="img-responsive catalog_unit_img">-->
                                        </div>
                                        
                                        <div class="catalog_unit_name" umi:element-id="<?= $product->getId()?>" umi:field-name="name" umi:delete="delete">
                                            <?= $product->getName() ?>
                                        </div>
                                    </a>
                                </div>   
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            </section>
            <section class="category bg_gray">
                    <div class="container">
                        <?php
                            /**
                             * Блок "Aim-One".
                             * todo
                             * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
                             * @var array $variables
                             * @var iUmiHierarchyElement $page
                             */

                            //$page = $variables['page']; 
                        ?>
                        <h2 class="h2_center">Большая область применения автохимии Aim-One </h2>
                    </div>
                    <div class="category_box clearfix">
                            <a href="#" class="category_unit category_unit_half">
                                    <div><img src="img/img_category1.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Двигатель</div>
                                            </div>
                                    </div>
                            </a>
                            <a href="#" class="category_unit category_unit_fourth">
                                    <div><img src="img/img_category2.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Топливные<br> системы</div>
                                            </div>
                                    </div>
                            </a>
                            <a href="#" class="category_unit category_unit_fourth">
                                    <div><img src="img/img_category3.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Топливные<br> системы</div>
                                            </div>
                                    </div>
                            </a>
                            <a href="#" class="category_unit category_unit_third">
                                    <div><img src="img/img_category4.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Ароматизаторы</div>
                                            </div>
                                    </div>
                            </a>
                            <a href="#" class="category_unit category_unit_third">
                                    <div><img src="img/img_category5.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Шины и диски</div>
                                            </div>
                                    </div>
                            </a>
                            <a href="#" class="category_unit category_unit_third">
                                    <div><img src="img/img_category6.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Салон</div>
                                            </div>
                                    </div>
                            </a>
                            <a href="#" class="category_unit category_unit_half">
                                    <div><img src="img/img_category7.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Краски / грунтовки</div>
                                            </div>
                                    </div>
                            </a>
                            <a href="#" class="category_unit category_unit_half">
                                    <div><img src="img/img_category8.png" alt="alt" class="img-responsive"></div>
                                    <div class="category_unit_name">
                                            <div class="category_unit_text_box">
                                                    <div class="category_unit_text">Герметики / клея / фиксаторы</div>
                                            </div>
                                    </div>
                            </a>
                    </div>
            </section>
            <section class="about">
                    <div class="container">
                            <div class="row">
                                <?php
                                    /**
                                     * Блок "Aim-One".
                                     *
                                     * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
                                     * @var array $variables
                                     * @var iUmiHierarchyElement $page
                                     */

                                    $page = $variables['page']; 
                                ?>
                                
                                <div class="col-xs-12 col-md-6 col-lg-7" umi:element-id="<?= $page->getId() ?>"
                                       umi:field-name="quality"
                                       umi:empty="<?= $this->translate('quality') ?>">
                                        <?= $page->getValue('quality') ?>
                                </div>
                                
                                <div class="col-xs-12 col-md-6 col-lg-5">
                                    <div class="about_video">
                                        <div><img src="img/img_video1.png" alt="alt" class="img-responsive"></div>
                                        <a href="#" class="about_video_play">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 86.8 77" style="enable-background:new 0 0 86.8 77;" xml:space="preserve">
                                            <style type="text/css">
                                                    .st0{fill:#E3000F;}
                                                    .st1{fill:#FFFFFF;}
                                                    .st2{clip-path:url(#SVGID_2_);}
                                                    .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                                    .st4{clip-path:url(#SVGID_4_);}
                                            </style>
                                            <g>
                                                    <path class="st0" d="M19.3,0.5C-6.5,18.9-6.4,58.1,19.5,76.4c0.9,0.6,2.1,0.7,3.1,0.1L85.9,40c1.1-0.7,1.1-2.3,0-2.9L22.4,0.4
                                                    C21.4-0.2,20.2-0.1,19.3,0.5"/>
                                                    <polyline class="st1" points="28.6,30.7 40.4,38.5 28.6,46.3 	"/>
                                            </g></svg>
                                        </a>
                                    </div>
                                    <div class="about_video_title">7 преимуществ автохимии Aim-One</div>
                                </div>
                            </div>
                    </div>
            </section>
        </main>
        <footer>
                <div class="container">
                        <a href="#" class="logo">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 841.9 447.9" enable-background="new 0 0 841.9 447.9" xml:space="preserve">
                                        <path fill="#E3000F" d="M444.9,3.1c-150.2,107.2-149.9,335,0.8,441.7c5.3,3.8,12.4,4.1,18,0.9l368.8-212.9c6.6-3.8,6.6-13.4,0-17.2
                                        L463,2.2C457.3-1,450.3-0.7,444.9,3.1"></path>
                                        <path fill="#FFFFFF" d="M427,170.7c-32.7,0-53.4,23.6-53.4,57.8c0,34,20.7,57.7,53.4,57.7c32.7,0,53.4-23.8,53.4-57.7
                                        C480.5,194.3,459.7,170.7,427,170.7 M427,258.2c-12.7,0-19.5-12.6-19.5-29.8c0-17.4,6.9-29.8,19.5-29.8c12.7,0,19.7,12.4,19.7,29.8
                                        C446.7,245.7,439.7,258.2,427,258.2z"></path>
                                        <polygon fill="#FFFFFF" points="554.6,220.7 525.8,172.5 492.1,172.5 492.1,284.2 525.3,284.2 525.3,232.6 556.4,284.2 587.9,284.2 
                                        587.9,172.5 554.6,172.5 "></polygon>
                                        <path fill="#FFFFFF" d="M678.7,200.2v-27.6h-74v85.6c0,14.4,12.2,26,27.3,26h46.7v-27.6H638v-15.1h39.5v-27.6H638v-13.7H678.7z"></path>
                                        <path fill="#FFFFFF" d="M49.9,192L4.4,284.2h35.5l11.4-22.2h27.1v22.2h29.5V172.5H82.7C68.8,172.5,56.1,180.1,49.9,192 M65.8,233.5
                                        l12.6-24.6v24.6H65.8z"></path>
                                        <rect x="122.3" y="172.5" fill="#FFFFFF" width="33.2" height="111.6"></rect>
                                        <path fill="#FFFFFF" d="M263.5,173.6h-19.4l-16.6,48.7l-16.3-48.7h-41.9v110.5h31.8v-59.8l20.3,59.8h12.1l20.5-59.8v59.8h31.6v-88.7
                                        C285.7,183.4,275.8,173.6,263.5,173.6"></path>
                                        <path fill="#FFFFFF" d="M336.9,211.8c-15.6-3-29,10.5-26,26c1.6,8.7,8.7,15.7,17.4,17.4c15.6,3,29-10.5,26-26
                                        C352.6,220.5,345.6,213.5,336.9,211.8"></path>
                                </svg>
                        </a>
                        <div class="footer_content">
                                <div>
                                        <div class="footer_link">
                                                <div class="footer_link_box">
                                                        <h4>Покупателям</h4>
                                                        <a href="#" class="footer_link_unit">О компании</a>
                                                        <a href="#" class="footer_link_unit">Каталог</a>
                                                        <a href="#" class="footer_link_unit">Советы</a>
                                                        <a href="#" class="footer_link_unit">Видео</a>
                                                        <a href="#" class="footer_link_unit">Отзывы</a>
                                                </div>
                                                <div class="footer_link_box">
                                                        <h4>Оптовым<br> компаниям</h4>
                                                        <a href="#" class="footer_link_unit">Возможностии</a>
                                                        <a href="#" class="footer_link_unit">Условия</a>
                                                        <a href="#" class="footer_link_unit">Рекламные</a>
                                                        <a href="#" class="footer_link_unit">Запрос оптового</a>
                                                </div>
                                        </div>
                                        <div class="footer_callback_social">
                                                <div class="footer_callback">
                                                        <div class="footer_callback_text">Горячая линия аimOne</div>
                                                        <div class="footer_callback_number">8 800 775-18-68</div>
                                                        <div class="footer_callback_text">Звонок по России бесплатный</div>
                                                </div>
                                                <div class="footer_social">
                                                        <a href="#" class="footer_social_unit">
                                                                <svg class="icon_footer_social icon_twitter" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                viewBox="0 0 19.6 15.9" style="enable-background:new 0 0 19.6 15.9;" xml:space="preserve">
                                                                <style type="text/css">
                                                                        .st0{fill:#E3000F;}
                                                                        .st1{fill:#FFFFFF;}
                                                                        .st2{clip-path:url(#SVGID_2_);}
                                                                        .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                                                        .st4{clip-path:url(#SVGID_4_);}
                                                                </style>
                                                                <g>
                                                                        <path d="M19.6,1.9c-0.7,0.3-1.5,0.5-2.3,0.6C18.1,2,18.7,1.2,19,0.3c-0.8,0.5-1.6,0.8-2.6,1C15.8,0.5,14.7,0,13.6,0
                                                                        c-2.2,0-4,1.8-4,4c0,0.3,0,0.6,0.1,0.9C6.3,4.8,3.3,3.2,1.4,0.7C1,1.3,0.8,2,0.8,2.8c0,1.4,0.7,2.6,1.8,3.3c-0.7,0-1.3-0.2-1.8-0.5
                                                                        v0c0,1.9,1.4,3.6,3.2,3.9C3.7,9.7,3.3,9.7,3,9.7c-0.3,0-0.5,0-0.8-0.1c0.5,1.6,2,2.8,3.8,2.8c-1.4,1.1-3.1,1.7-5,1.7
                                                                        c-0.3,0-0.6,0-1-0.1c1.8,1.1,3.9,1.8,6.2,1.8c7.4,0,11.4-6.1,11.4-11.4l0-0.5C18.4,3.4,19,2.7,19.6,1.9L19.6,1.9z M19.6,1.9"/>
                                                                </g></svg>
                                                        </a>
                                                        <a href="#" class="footer_social_unit">
                                                                <svg class="icon_footer_social icon_facebook" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                viewBox="0 0 11.7 26" style="enable-background:new 0 0 11.7 26;" xml:space="preserve">
                                                                <style type="text/css">
                                                                        .st0{fill:#E3000F;}
                                                                        .st1{fill:#FFFFFF;}
                                                                        .st2{clip-path:url(#SVGID_2_);}
                                                                        .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                                                        .st4{clip-path:url(#SVGID_4_);}
                                                                </style>
                                                                <g>
                                                                        <path d="M2.8,5c0-0.2,0-0.5,0.1-1c0-0.5,0.2-1.1,0.6-1.7c0.4-0.6,0.9-1.1,1.8-1.6C6.1,0.2,7.2,0,8.8,0h2.9v4.7H8.6
                                                                        C8.3,4.7,8,4.8,7.7,5C7.4,5.3,7.3,5.5,7.3,5.7v2.9h3.9c0,0.6-0.1,1.1-0.2,1.7l-0.2,1.4c-0.1,0.5-0.1,0.9-0.2,1.3H7.3v13H2.8V13H0
                                                                        V8.6h2.8V5z M2.8,5"/>
                                                                </g></svg>
                                                        </a>
                                                        <a href="#" class="footer_social_unit">
                                                                <svg class="icon_footer_social icon_vk" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                viewBox="0 0 25.4 14.5" style="enable-background:new 0 0 25.4 14.5;" xml:space="preserve">
                                                                <style type="text/css">
                                                                        .st0{fill:#E3000F;}
                                                                        .st1{fill:#FFFFFF;}
                                                                        .st2{clip-path:url(#SVGID_2_);}
                                                                        .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                                                        .st4{clip-path:url(#SVGID_4_);}
                                                                </style>
                                                                <g>
                                                                        <g>
                                                                                <defs>
                                                                                        <rect id="SVGID_1_" y="0" width="25.4" height="14.5"/>
                                                                                </defs>
                                                                                <clipPath id="SVGID_2_">
                                                                                        <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                                                                                </clipPath>
                                                                                <path class="st2" d="M25.1,13c0-0.1-0.1-0.1-0.1-0.2c-0.4-0.8-1.3-1.8-2.5-2.9l0,0l0,0l0,0h0c-0.6-0.5-0.9-0.9-1.1-1.1
                                                                                c-0.3-0.4-0.3-0.7-0.2-1.1c0.1-0.3,0.5-0.8,1.2-1.7c0.4-0.5,0.6-0.8,0.9-1.1c1.5-2,2.2-3.3,2-3.9l-0.1-0.1
                                                                                c-0.1-0.1-0.2-0.2-0.4-0.2c-0.2-0.1-0.5-0.1-0.8,0l-3.8,0c-0.1,0-0.1,0-0.3,0c-0.1,0-0.2,0-0.2,0l-0.1,0l-0.1,0
                                                                                c0,0-0.1,0.1-0.1,0.1c-0.1,0.1-0.1,0.1-0.1,0.2c-0.4,1.1-0.9,2-1.4,3c-0.3,0.5-0.6,1-0.9,1.4c-0.3,0.4-0.5,0.7-0.7,0.9
                                                                                c-0.2,0.2-0.4,0.3-0.5,0.5C15.6,7,15.5,7,15.4,7c-0.1,0-0.2,0-0.2-0.1c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.1-0.3-0.2-0.5
                                                                                c0-0.2,0-0.4,0-0.5c0-0.1,0-0.4,0-0.6c0-0.3,0-0.5,0-0.6c0-0.3,0-0.7,0-1.1c0-0.4,0-0.7,0-0.9c0-0.2,0-0.5,0-0.7
                                                                                c0-0.3,0-0.5,0-0.6c0-0.1-0.1-0.3-0.1-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.1-0.1-0.3-0.1-0.4-0.2C13.4,0.1,12.8,0,12.1,0
                                                                                C10.5,0,9.5,0.1,9,0.3C8.8,0.4,8.6,0.5,8.5,0.7C8.3,0.9,8.3,1,8.4,1C9,1.1,9.3,1.3,9.5,1.6l0.1,0.2c0.1,0.1,0.1,0.3,0.2,0.6
                                                                                c0.1,0.3,0.1,0.6,0.1,1c0,0.6,0,1.2,0,1.6c0,0.5-0.1,0.8-0.1,1.1c0,0.3-0.1,0.5-0.2,0.6C9.5,6.8,9.5,6.9,9.5,6.9
                                                                                c0,0,0,0.1-0.1,0.1C9.3,7,9.2,7.1,9,7.1C8.9,7.1,8.8,7,8.6,6.9C8.4,6.7,8.2,6.6,8.1,6.4C7.9,6.1,7.7,5.8,7.4,5.5
                                                                                C7.2,5.1,6.9,4.6,6.7,4.1L6.5,3.7C6.3,3.5,6.2,3.1,5.9,2.6C5.7,2.2,5.5,1.7,5.3,1.3C5.3,1.1,5.2,1,5,0.9l-0.1,0
                                                                                c0,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1l-3.6,0c-0.4,0-0.6,0.1-0.7,0.2L0,1c0,0,0,0.1,0,0.2c0,0.1,0,0.2,0.1,0.4
                                                                                C0.6,2.8,1.2,4,1.8,5.1c0.6,1.1,1.2,2.1,1.6,2.8c0.5,0.7,0.9,1.4,1.4,2c0.5,0.6,0.8,1,0.9,1.2c0.2,0.2,0.3,0.3,0.4,0.4l0.3,0.3
                                                                                c0.2,0.2,0.5,0.5,0.9,0.8c0.4,0.3,0.9,0.6,1.4,0.9c0.5,0.3,1.1,0.5,1.7,0.7c0.7,0.2,1.3,0.3,1.9,0.2h1.5c0.3,0,0.5-0.1,0.7-0.3
                                                                                l0.1-0.1c0-0.1,0.1-0.1,0.1-0.2c0-0.1,0-0.2,0-0.4c0-0.4,0-0.7,0.1-1c0.1-0.3,0.1-0.5,0.2-0.7c0.1-0.2,0.2-0.3,0.3-0.4
                                                                                c0.1-0.1,0.2-0.2,0.2-0.2c0,0,0.1,0,0.1,0c0.2-0.1,0.5,0,0.7,0.2c0.3,0.2,0.6,0.5,0.8,0.8c0.2,0.3,0.5,0.6,0.9,1
                                                                                c0.4,0.4,0.7,0.7,0.9,0.8l0.3,0.2c0.2,0.1,0.4,0.2,0.7,0.3c0.3,0.1,0.5,0.1,0.7,0.1l3.4-0.1c0.3,0,0.6-0.1,0.8-0.2
                                                                                c0.2-0.1,0.3-0.2,0.3-0.4c0-0.1,0-0.3,0-0.4C25.1,13.2,25.1,13.1,25.1,13L25.1,13z M25.1,13"/>
                                                                        </g>
                                                                </g></svg>
                                                        </a>
                                                        <a href="#" class="footer_social_unit">
                                                                <svg class="icon_footer_social icon_google" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                                                                <style type="text/css">
                                                                        .st0{fill:#E3000F;}
                                                                        .st1{fill:#FFFFFF;}
                                                                        .st2{clip-path:url(#SVGID_2_);}
                                                                        .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                                                        .st4{clip-path:url(#SVGID_4_);}
                                                                </style>
                                                                <path d="M11.7,9.5v5h6.8c-1,2.7-3.6,4.5-6.6,4.5c-3.9,0-7-3.1-7-7s3.1-7,7-7c1.5,0,2.9,0.5,4.1,1.3l0.4,0.3l3-3.9l-0.4-0.3
                                                                C17,0.8,14.6,0,12,0C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12V9.5H11.7z"/></svg>
                                                        </a>
                                                        <a href="#" class="footer_social_unit">
                                                                <svg class="icon_footer_social icon_instagram" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
                                                                <style type="text/css">
                                                                        .st0{fill:#E3000F;}
                                                                        .st1{fill:#FFFFFF;}
                                                                        .st2{clip-path:url(#SVGID_2_);}
                                                                        .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                                                        .st4{clip-path:url(#SVGID_4_);}
                                                                </style>
                                                                <path d="M22.3,0H3.7C1.6,0,0,1.6,0,3.7v18.6C0,24.4,1.6,26,3.7,26h18.6c2.1,0,3.7-1.6,3.7-3.7V3.7C26,1.6,24.4,0,22.3,0z M13,20.7
                                                                c4.3,0,7.8-3.4,7.8-7.5c0-0.7-0.1-1.5-0.3-2.1h2.2v10.6c0,0.5-0.4,1-1,1H4.3c-0.5,0-1-0.4-1-1V11.1h2.3c-0.2,0.7-0.3,1.4-0.3,2.1
                                                                C5.3,17.4,8.7,20.7,13,20.7z M13,17.8c-2.8,0-5-2.2-5-4.9c0-2.7,2.2-4.9,5-4.9c2.8,0,5,2.2,5,4.9C18,15.6,15.8,17.8,13,17.8z
                                                                M22.7,7.1c0,0.6-0.5,1.1-1.1,1.1h-2.8c-0.6,0-1.1-0.5-1.1-1.1V4.4c0-0.6,0.5-1.1,1.1-1.1h2.8c0.6,0,1.1,0.5,1.1,1.1V7.1z"/></svg>
                                                        </a>
                                                        <a href="#" class="footer_social_unit">
                                                                <svg class="icon_footer_social icon_yootube" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                                viewBox="0 0 27.6 19.7" style="enable-background:new 0 0 27.6 19.7;" xml:space="preserve">
                                                                <style type="text/css">
                                                                        .st0{fill:#E3000F;}
                                                                        .st1{fill:#FFFFFF;}
                                                                        .st2{clip-path:url(#SVGID_2_);}
                                                                        .st3{fill:none;stroke:#100E0A;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                                                        .st4{clip-path:url(#SVGID_4_);}
                                                                </style>
                                                                <g>
                                                                        <path d="M27.6,7.6c0-0.6-0.1-1.3-0.1-2.1c-0.1-0.8-0.2-1.6-0.3-2.3c-0.2-0.8-0.5-1.4-1.1-1.9c-0.5-0.5-1.2-0.8-1.9-0.9
                                                                        C21.9,0.1,18.4,0,13.8,0C9.2,0,5.8,0.1,3.5,0.4C2.7,0.5,2.1,0.8,1.6,1.3C1,1.8,0.7,2.4,0.5,3.2C0.3,3.8,0.2,4.6,0.1,5.4
                                                                        C0.1,6.3,0,7,0,7.6c0,0.6,0,1.3,0,2.3s0,1.8,0,2.3c0,0.6,0.1,1.3,0.1,2.1c0.1,0.8,0.2,1.6,0.3,2.3c0.2,0.8,0.5,1.4,1.1,1.9
                                                                        c0.5,0.5,1.2,0.8,1.9,0.9c2.3,0.3,5.7,0.4,10.3,0.4c4.6,0,8.1-0.1,10.3-0.4c0.7-0.1,1.4-0.4,1.9-0.9c0.5-0.5,0.9-1.1,1.1-1.9
                                                                        c0.2-0.7,0.3-1.4,0.3-2.3c0.1-0.8,0.1-1.5,0.1-2.1c0-0.6,0-1.3,0-2.3S27.6,8.1,27.6,7.6L27.6,7.6z M19.3,10.7l-7.9,4.9
                                                                        c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3,0-0.5-0.1c-0.3-0.2-0.5-0.5-0.5-0.9V4.9c0-0.4,0.2-0.7,0.5-0.9c0.3-0.2,0.7-0.2,1,0L19.3,9
                                                                        c0.3,0.2,0.5,0.5,0.5,0.8C19.7,10.2,19.6,10.5,19.3,10.7L19.3,10.7z M19.3,10.7"/>
                                                                </g></svg>
                                                        </a>
                                                </div>
                                        </div>
                                </div>
                                <div class="footer_content_bottom">
                                        <a href="#" class="footer_link_bottom">Пользовательское соглашение</a>
                                        <a href="#" class="footer_link_bottom">Политика конфиденциальности</a>
                                </div>
                        </div>
                </div>
        </footer>
    </div>
</body>
</html>