<?php
/**
 * Выбор адреса доставки (может включать способы доставки с типом "Самовывоз").
 * Форма создания нового адреса доставки.
 *
 * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
 * @var array $variables
 */

$selfDeliveryList = isset($variables['delivery']) ? $variables['delivery'] : [];
$addressList = isset($variables['items']) ? $variables['items'] : [];
?>

<div class="delivery_address onestep del_row order_img_1">
	<div class="del_content">
		<h3 class="up input_capt">
			<?= $this->translate('choose_delivery_address') ?>
		</h3>

		<input type="hidden" name="delivery-address" value="new" />

		<?php foreach ($selfDeliveryList as $index => $delivery): ?>
			<?= $this->render($delivery, 'emarket/delivery/address/self_delivery') ?>
		<?php endforeach; ?>

		<?php foreach ($addressList as $index => $address): ?>
			<?= $this->render($address, 'emarket/delivery/address/item') ?>
		<?php endforeach; ?>

		<?php if ($this->canShowNewDeliveryAddressOption($variables)): ?>
			<div>
				<label>
					<input type="radio" name="delivery-address" value="new" />
					<span></span>
					<?= $this->translate('new_delivery_address') ?>
				</label>
			</div>
		<?php endif; ?>
	</div>

	<?php if ($this->canShowNewDeliveryAddressForm($variables)): ?>
		<div class="del_content">
			<div id="new-address">
				<?= $this->render(['form' => $this->macros('data', 'getCreateForm', [$variables['type-id']]), 'displayHeader' => false], 'data/form') ?>
			</div>
		</div>
	<?php endif; ?>
</div>
