<?php
/**
 * Меню основных страниц в шапке сайта (левое или правое).
 *
 * @var umiTemplaterPHP|ViewPhpExtension|DemomarketPhpExtension $this
 * @var string $variables
 * @var array $pageList
 */

$menuId = $variables;
$data = $this->getMenu($menuId);
$pageList = $data['lines'];
?>

<div class="header_link">
    <?php foreach ($pageList as $page): ?>
        <a href="<?= $page['link'] ?>" class="header_link_unit">
            <?= $page['name'] ?>
        </a>
    <?php endforeach; ?>
</div>
